// Define variables for your color scheme

// For example:
$red: #EB455F;
$blue: #0D6EFD;
$yellow: #F5EA5A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: white;
$pink-annega: #FDD9E0;
$black:black;
$violet:#A31ACB;
$purple: #745383;
$orange: #EB7C36;
$burgundy: #DB2454;
$teal: #5CA3B3;
