<div class="back-space">
<%= link_to "<", root_path, class: "back-button" %>
</div>


<div class="background-texture">
    <div class="container">
      <h2><%= artist.name %></h2>
    </div>

  <div class="container">
    <% @artists.each do |artist| %>
    <div class="carousel-item">
        <img src=<%= artist.image_url %>>
    </div>
    <%end%>
  </div>
</div>
