
.show-artist-image img{
  max-width: 100%;
  height: 450px;
  object-fit: cover;
  position: relative;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
}

.show-artist-image h1 {
  position: absolute;
  top: 0;
  margin-top: 300px;
  margin-left: 110px;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  opacity: 0.6;
}

.show-artist-image h5 {
  position: absolute;
  top: 0;
  margin-top: 360px;
  margin-left: 160px;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  opacity: 0.6;
}

.show-message-artist {
  position: absolute;
  top: 50%;
  margin-left: 136px;
  background-color: $violet;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 15px 20px 10px 20px;
  border-radius: 50px;
  display: flex;
}

.show-artist-details p {
  color: darkgrey;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  text-align: justify;
  margin-top: 30px;
  padding: 20px;
  letter-spacing: 1px;

}

.show-artist-image ul li{
  margin: 0px 10px;
  list-style: none;
  display: inline-block;
}
.social-artist .youtube-artist {
  color: black;
  font-size: 30px;
  transition: 0.2s;
}
.social-artist .youtube-artist:hover {
  color: #C4302B;
}
.social-artist .spotify-artist {
  color: black;
  font-size: 30px;
  transition: 0.2s;
}
.social-artist .spotify-artist:hover {
  color: #1DB954;
}
.social-artist .deezer-artist {
  color: black;
  font-size: 30px;
  transition: 0.2s;
}
.social-artist .deezer-artist:hover {
  color: #FFED00;
}
