body .show-artist-card {
  height: 100vh;
  background-image:url("https://res.cloudinary.com/dqjdq06qv/image/upload/v1677093292/LOKAL/Blakkayo_fh0f8s.jpg");
  background-size: cover;
  background-position: center;
}

.profile-artist {
  width: auto;
  height: 800px;
  margin: auto;
  background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.profile-artist img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.profile-artist h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}

.profile-artist h5 {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  margin: 12px 0;
}

.profile-artist p {
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  margin-bottom: 10px;
}

.profile-artist ul li{
  margin: 0px 10px;
  list-style: none;
  display: inline-block;
}

.social-artist .youtube-artist {
  color: white;
  font-size: 30px;
  transition: 0.2s;
}

.social-artist .youtube-artist:hover {
  color: #c4302b;
}


.social-artist .spotify-artist {
  color: white;
  font-size: 30px;
  transition: 0.2s;

}

.social-artist .spotify-artist:hover {
  color: #1db954;

}

.social-artist .deezer-artist {
  color: white;
  font-size: 30px;
  transition: 0.2s;

}

.social-artist .deezer-artist:hover {
  color: #ffed00;

}
