
.show-artist-image .artist-image-profile{
  max-width: 100%;
  height: 450px;
  position: relative;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  background-size: cover;
  background-position: cover;

}

.show-artist-image .container-profile-names {
  // margin-left: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.show-artist-image h1 {
  position: absolute;
  top: 0;
  margin-top: 300px;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  opacity: 0.9;

}

.show-artist-image h5 {
  position: absolute;
  top: 0;
  margin-top: 360px;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  opacity: 0.6;
}

.show-message-artist {
  position: absolute;
  top: 0;
  margin-left: 123px;
  margin-top: 420px;
  background-color: $burgundy;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 8px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 15px 20px 10px 20px;
  border-radius: 50px;
  display: flex;
  transition: 0.2s;

}

.show-message-artist:hover {
  position: absolute;
  top: 0;
  margin-left: 123px;
  margin-top: 420px;
  background-color: $orange;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 8px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 15px 20px 10px 20px;
  border-radius: 50px;
  display: flex;
}

.show-artist-details p {
  color:#1A1A1A;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-align: justify;
  margin-top: 30px;
  letter-spacing: 1px;
}

.social-artist h4 {
  color: $burgundy;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 10px;
}
.media-banner {
  background-color: transparent;
  height: 100px;
  width: 100%;
}

.media-icons {
  text-align: center;
}


.social-artist .instagram-artist {
  color: 	$burgundy;
  font-size: 30px;
  transition: 0.2s;
  padding: 10px;
}

.social-artist .facebook-artist {
  color: $burgundy;
  font-size: 30px;
  transition: 0.2s;
  padding: 10px;
}



.social-artist .youtube-artist {
  color: $burgundy;
  font-size: 30px;
  transition: 0.2s;
  padding: 10px;
}


.youtube-video {
  width: 365px;
  height: 281px;
  align-items: center;
}


.past-artist-events {
  padding-top: 25px;
}

.past-artist-events h3 {
  color: $purple;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.card-past-events {
  padding-top: 8px;
  padding-bottom: 200px;

}

.past-events {
  display: flex;
  overflow-x: scroll;
}

.past-event-card {
  width: 500px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.past-event-image {
  width: 100%;
  height: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.past-event-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: $purple; opacity:0.8;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.youtube-video {
  text-align: center;
}

.youtube-video h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  color: $purple;
  padding-bottom: 10px;
}

.sportify-embed {
  padding: 10px;
  text-align: center;
}

.spotify-embed h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  color: $purple;
  padding-bottom: 10px;
}

.bio-show-artist h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  color: $purple;
  padding-top: 10px;

}

.bio-first-artist p{
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $purple;
  text-align: center;
}

.bio-first-artist h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: $purple;
  text-align: center;
}
