@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

.bookings-index {
  font-family: 'Quicksand', sans-serif;
  // background: linear-gradient(45deg, $orange, $teal);
}


.bookings-index h1 {
  text-align: left;
  padding-top: 20px;
  padding-left: 5px;
  color: $burgundy;
  font-weight: bold;
  padding-bottom: 10px;
}

.bookings-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding-bottom: 100px;
}

.booking-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background: linear-gradient(135deg, #5ca3b3, #eb7c36);
}

.booking-card.event-over .booking-card-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(219, 36, 84, 0.5), rgba(219, 36, 84, 0.7));
  z-index: 1;
}

.booking-card:hover {
  transform: translateY(-5px);
}

.booking-card-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.booking-card-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(to bottom, rgba(116, 83, 131, 0.6), rgba(116, 83, 131, 0.6));
  z-index: 1;
}

.event-over-text {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.booking-card-body {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 0 5px 5px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 0.5rem;
  position: relative;
  z-index: 2;
}

.booking-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #745383;
  margin-bottom: 0.5rem;
}

.booking-address {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.booking-event-date,
.booking-normal,
.booking-vip,
.booking-total {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.filter {
  position: relative;
  display: inline-block;
}

.filter-button {
  background-color: $burgundy;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.filter-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.filter-dropdown a {
  color: $black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.filter-dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.remove-filter {
  background-color: white;
  color: $burgundy;
  border: 1px solid $burgundy;
  margin-left: 100px;
  margin-top: 1px;
  position: absolute;
  top: 0;
  font-family: 'Quicksand', sans-serif;
  border-radius: 4px;
}
