.booking-an-event {
  padding-bottom: 100px;
}

.booking-event-address {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

.ticket-selection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ticket-selection {
  width: 45%;
  display: flex;
  flex-direction: column;
  // margin-right: 20px;
  margin-bottom: 20px;
}

.ticket-selection label {
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: $purple;
  padding-left: 50px;
}

.ticket-selection-input-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 5px;
}

.ticket-selection-input {
  width: 50px;
  height: 30px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid $white;
  margin: 0 10px;
  color: $purple;
  font-size: 20px;
}

.ticket-selection-input::-webkit-outer-spin-button,
.ticket-selection-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ticket-selection-input:focus {
  outline: none;
}

.ticket-selection-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  margin-right: 10px;
}

.ticket-selection-button {
  width: 50px;
  height: 60px;
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid $purple;
  color: white;
  background-color: $purple;
  padding: 5px 10px 20px 10px;
  cursor: pointer;
}

.ticket-selection-button:hover {
  color: #fff;
}



.ticket-selection label {
  margin-right: 10px;
}

.total-ticket-selection {
  border: 2px solid $teal;
  background-color: $white;
  padding-left: 30px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 10px;
  border-radius: 20px;
}

.total-ticket-selection label {
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  margin-right: 30px;
  color: $teal;
  text-align: left;
}

.ticket-selection-input-large {
  width: 100px;
  height: 50px;
  font-family: 'Quicksand' ,sans-serif;
  color: $teal;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  border: 2px solid $white;
  border-radius: 20px;
}

.ticket-selection-input-large:focus {
  outline: none;
}

.ticket-prices p {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}

.ticket-prices {
  margin-bottom: 10px;
}

.col .price-section p {
  color: white;
  padding: 10px;
  text-align: left;

}

.container .ticket-prices {
  background: linear-gradient(45deg, $teal, $purple);
}

.col .price-display p {
  color: white;
  padding: 10px;
  border-radius: 200px;
}
