.ei-index {
  background-color: rgba(219, 36, 84, 0.1);
  padding-bottom: 40px;
}

.ei-index-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-upcoming {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: white;
  background-color: white;
  width: 100%;
  height: 500px;
  text-align: left;
  padding-left: 30px;
  padding-top: 50px;
  text-decoration: none;
  border-bottom-left-radius: 300px;
  position: relative;
}

.banner-upcoming h1 {
  color: $burgundy;
  font-weight: bold;

}

.ei-container h4 {
  color: black;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  padding-top: 14px;
  padding-left: 2px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.search-container {
  position: relative;
  z-index: 10;
}

.events-search {
  text-align: center;
  width: 90%;

}

.ei-tags-index {
  padding-right: 5px;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 10;
  position: relative;
  top: -281px; /* adjust this value to fine-tune the positioning */
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.ei-tags-index::-webkit-scrollbar {
  display: none;
}

.events-slide {
  position: relative;
  top: -253px; /* adjust this value to fine-tune the positioning */
  padding-left: 50px;
  max-width: 87%;
  z-index: 5;
  width: 100%;
}

// Events card
.ei-card
{
  position: relative;
  height: 90vw;
  width: 70vw;
  // background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.ei-card .ei-poster
{
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100vw;
}
.ei-card .ei-poster:before
{
  content: '';
  position: relative;
  bottom: -180px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,  $black 50%, transparent);
  height:550px;
  transition: 0.5s;
  z-index: 1;
}
.ei-card:hover .ei-poster::before
{
  bottom: 0px;
}
.ei-card .ei-poster img
{
  width: 100%;
  transition: 0.5s;
  height: 375px;
  object-fit: cover;
}
.ei-card:hover .ei-poster img
{
  transform: translateY(-50px);
  filter: blur(5px);
}

.ei-card .ei-details
{
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 20px;;
  width: 100%;
  z-index: 2;
  transition: 0.5s;
}
.ei-card:hover .ei-details
{
  bottom: 40px;
}

// .ei-like {
//   position: absolute;
//   top: -25px;
//   right: 7px;
// }

.like-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.like-link .icon {
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: rgba(128, 128, 128, 0.5);
}

.like-link.liked .icon {
  color: var(--clr);
  text-shadow: 0 0 10px var(--clr), 0 0 20px var(--clr), 0 0 30px var(--clr);
}

:root {
  --clr: red;
}


.ei-card .ei-details .logo
{
  max-width: 180px;
}
.ei-card .ei-details h2
{
  font-size: 24px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
  padding-bottom: 1px;
  padding-top: 20px;

}

.ei-tags
{
  padding: 10px;
  max-width: 100%;
  display: inline-flex;
  position: relative;
  padding-bottom: 124px;
}

.ei-tags-index .tag-techno,
.ei-tags-index .tag-house,
.ei-tags-index .tag-festival,
.ei-tags-index .tag-jazz,
.ei-tags-index .tag-concert,
.ei-tags-index .tag-rock {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color:$burgundy;
  padding: 8px;
  border: 1px solid $burgundy;
  border-radius: 15px;
  font-size: 14px;
  transition: 0.4s;
}

.ei-lineup
{
  position: relative;
}

.ei-lineup h4
{
color: white;
}

.ei-lineup-artists
{
  position: relative;
  display: flex;
  gap: 10px;
}

.ei-lineup .ei-artist .artist-photo
{
  list-style: none;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
}

.ei-location p
{
  font-size: 18px;
  padding-top: 5px;
  color: 	white;
}
.ei-card .ei-details .ei-date p
{
  font-size: 17px;
  padding-top: 4px;
  color: white;
  padding-bottom: -23px;
  line-height: 0.01cm;
  text-align: right;
}

.ei-date .date-symbol p {
  font-size: 20px;
  color: white;
}

.ei-date .container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 120px;

}

.ei-date .time-symbol {
  font-size: 20px;
  color: white;
}

.tag {
  display: inline-block;
  margin: 0 10px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: #333;
  text-align: center;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 6px;
  transition: all 0.3s ease;
}


.ei-card .ei-details .ei-tags .tag-techno {
  background-color: mediumaquamarine;
  color: white;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;

}


.ei-card .ei-details .ei-tags .tag-jazz {
  background-color: $burgundy;
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;

}

.ei-tags .tag-concert {
  color: white;
  background-color: $orange;
  font-size: 15px;
  border-color: transparent;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

.ei-tags .tag-house {
  color: white;
  background-color: $teal;
  font-size: 15px;
  border-color: transparent;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

.ei-tags .tag-festival {
  color: white;
  background-color: $purple;
  font-size: 15px;
  border-color: transparent;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}


// upcoming events cards CSS
.upcoming-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.upcoming-event .card-body {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 10px;
}

.upcoming-event .card-img-top {
  width: 140px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  margin-right: 20px;
  padding: 30px;
  border-radius: 20px;
}

.upcoming-event .col:last-child p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: $black;
  padding-left: 5px;
}


// top-rated events cards CSS
.top-rated-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.top-rated-event .card-body {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 10px;
}

.top-rated-event .card-img-top {
  width: 140px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  margin-right: 20px;
  padding: 30px;
  border-radius: 20px;
}


.top-rated-event .col:last-child p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: $burgundy;
  padding-left: 5px;
}

.nav-bar-filters {
  position: relative;
  z-index: 1;
  margin-top: -200px;
}

.swiper {
  height: 100%;
}

.swiper-slide {
  height: auto;
}


.nav-pills .nav-link {
  color: #FFFFFF;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background-color: #DB2454;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 16px;
}

.nav-pills .nav-link:not(.active) {
  background-color: transparent;
  color: $black;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

.nav-link {
  text-decoration: none;
}

.ei-index .event-back-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}
.ei-index .event-back-btn ion-icon {
  font-size: 2rem;
  color: black;
}
