.background-texture {
  background-image: url("https://res.cloudinary.com/dqjdq06qv/image/upload/v1677756146/LOKAL/Background_artists_e77wvb.jpg");
  background-size: auto;
  height: 800px;
  width: 100%;


}

.name-slider h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: black;
  padding-top: 26px;
  text-align: center;
}

.carousel-inner img {
  height: 520px;
  width: 100%;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
}
