body .login-form {
  font-family: 'Quicksand', sans-serif;
  background-image: url("https://res.cloudinary.com/dqjdq06qv/image/upload/v1677832488/LOKAL/background_login_form_xsyu6q.png");
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  height: 700px;
}

.login-form .container {
  width: auto;
  margin: auto;
  height: 700px;
  background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.login-form h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  font-size: 24px;
  color: white;
  letter-spacing: 0.1rem;
}

.form-inputs input {
  background-color: transparent;
}
