body .login-form {
  font-family: 'Quicksand', sans-serif;
  background-image: url("https://res.cloudinary.com/dqjdq06qv/image/upload/v1677832488/LOKAL/background_login_form_xsyu6q.png");
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  height: 700px;
}

.login-form .container {
  width: auto;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 10px 10px 10px;
  color: white;
}

.container h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  font-size: 24px;
  color: white;
}

.form-inputs input {
  background-color: transparent;
}
