body {
  margin: 0 auto;
}

.profile-banner {
  background-image: url("https://res.cloudinary.com/dqjdq06qv/image/upload/v1677093292/LOKAL/Blakkayo_fh0f8s.jpg");
  background-size: cover;
  background-position: center;
  height: 50px;
  max-width: 100%;
}
