body {
  margin: 0 auto;
}
.banner-event {
  background-color: $yellow;
  background-position: cover;
  height: 150px;
  max-width: 100%;
  margin-bottom: 10px;
}
.banner-event h1 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 65px 0;
}

.card-product {
  overflow: hidden;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 280px;
  width: 160px;
  object-fit: cover;
  padding: 10px 10px 10px 12px;
}

.card-product h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.card-product-infos {
  line-height: 1.4;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  padding: 12px;
}

.date p {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: $red;
}
