body {
  margin: 0 auto;
}
.banner-event {
  background-color: $yellow;
  background-position: cover;
  height: 150px;
  max-width: 100%;
  margin-bottom: 10px;
}
.banner-event h1 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 65px 0;
}

.container img {
  height: 280px;
  width: 160px;
  object-fit: cover;
  padding: 10px 12px 10px 12px;
}

.event-list {
  background-color: white;
}

.event-details {
  margin-right: 14px;
}

.container h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.col {
  line-height: 1.4;
  margin-bottom: 0;
  padding: 12px 10px 12px 10px;

}

.date {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: $red;
}

.event-details {
  margin-top: 20px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: black;
}

.back-button {
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: black;
}

.back-space {
  background-color: white;
}
