<div class="container">
  <div class="text-center">
    <h1>Booking Confirmed!</h1>
    <h2>Thank You</h2>
    <p>Please check your email for confirmation and details</p>
  </div>

  <div class="text-center">
    <%= link_to "Home", root_path, class: "button-event" %>
  </div>
</div>
