<div class="container-main">
  <div class="banner_event">
  <h1>Upcoming Events</h1>
  </div>






  <div class="col">
    <%= link_to 'New Event', new_event_path, :class => "btn btn-primary"%>
    <%= link_to "Back", root_path, class: "btn btn-dark" %>
  </div>
  </div>
