<div class="back-space">
<%= link_to "<", root_path, class: "back-button" %>
</div>

<div class="banner-show-event">
  <div class="container-event">
    <div class="img-event-container">
     <img src=<%= @event.image_url %>>
        <p class="price-event">Rs <%= @event.price_normal %></p>
     </div>
  </div>
  <br>

    <div class="show-event-details">
      <h3><%= @event.name %></h3>
    </div>












</div>
