.artist-maincontainerash{
  background-color: white;
  margin: auto;
  width: 100px;
 }

.foto-artistash{
  // image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  // height: 50px;
  // object-fit: cover;
}
