.banner_event{
  width: 1000px;
  margin: 0 auto;
  background-color: $pink-annega;
  $Border-radius :4 px;
  $Box-shadow : 2 px 2px 3 px rbga(0,0,0,.1);
  $Background-size : cover;
  $Background-position :center;
  $Object-fit: cover;
  $Padding : 8 px;
  font-style: $h1-font-family;
  color: $black;
  text-align: center;
  
}
