.banner-event{
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  background-color: $pink-annega;
  $Border-radius :64px;
  $Box-shadow : 2px 2px 3px rgba(0,0,0,.1);
  $Background-size : cover;
  $Background-position :center;
  $Object-fit: cover;
  $Padding : 8px;
  font-style: $h1-font-family;
  font-size: 75px;
  color: $white;
  text-shadow:0 10px 30px rgba(0,0,0,0.4);
  text-align: center;
}

.new-event{
  $Border-radius :8 px;
  $Box-shadow : 2 px 2px 3 px rgba(0,0,0,.1);
  $Background-size : cover;
  $Background-position :center;
  background-color: $white;
  $Object-fit: cover;
  $Padding : 8 px;
  margin-top: 32px;
  color: $white;
  text-shadow: 0 10px 30px rgba(0,0,0,0.4);
  margin-bottom: 32px;
  margin-left: 16px;
}

.back{
  $Border-radius :8 px;
  $Box-shadow : 2 px 2px 3 px rgba(0,0,0,.1);
  background-color: $white;
  $Padding : 8 px;
  color: $white;
  text-shadow: 0 10px 30px rgba(0,0,0,0.4);
  margin-bottom: 32px;
  margin-left: 16px;
}
