.button-outline{
  background-color: transparent;
  color: white;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  padding: 12px 32px 12px 32px;
  text-decoration: none;
  margin-right: 30px;
  display: inline;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

.button-outline:hover{
  background-color: black;
  border: 3px;
  border-color: #A31ACB;
  color: white;
  border-style: solid;
  border-radius: 10px;
  padding: 12px 32px 12px 32px;
  text-decoration: none;
  display: inline;
  letter-spacing: 0.1rem;
}

.button-main{
  background-color: #A31ACB;
  color: white;
  border-radius: 10px;
  padding: 12px 32px 12px 32px;
  text-decoration: none;
  margin-left: 30px;
  flex-direction: row;
  display: inline;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

.button-main:hover{
  background-color: #F5EA5A;
  color: black;
  border-radius: 10px;
  padding: 12px 32px 12px 32px;
  text-decoration: none;
  display: inline;
  letter-spacing: 0.1rem;
}

.homepage-buttons {
  margin-top: 50px;
  text-align: center;
}

.button-contact{
  background-color: darkgray;
  color: black;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  transition: 0.2s;
  letter-spacing: 0.1rem;

}

.button-contact:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  letter-spacing: 0.1rem;

}

.button-event {
  background-color: transparent;
  color: black;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  transition: 0.2s;
  letter-spacing: 0.1rem;

}

.button-event:hover {
  background-color: $violet;
  color: white;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  letter-spacing: 0.1rem;

}

.btn-registration {
  background-color: #A31ACB;
  color: white;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 4px;
  transition: 0.2s;
  letter-spacing: 0.1rem;

}

.btn-registration:hover {
  background-color: $yellow;
  color: black;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 4px;
  letter-spacing: 0.1rem;

}

.btn-login-form {
  background-color: $yellow;
  color: black;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 4px;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

.btn-login-form:hover {
  background-color: $violet;
  color: white;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 4px;
  letter-spacing: 0.1rem;

}

.button-evhome {
  background-color: transparent;
  color: white;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  margin-right: 30px;
  display: inline;
  transition: 0.2s;
  letter-spacing: 0.1rem;

}

.button-evhome:hover {
  background-color: $yellow;
  color: white;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  margin-right: 30px;
  display: inline;
  letter-spacing: 0.1rem;

}


.button-arthome{
  background-color: #A31ACB;
  color: white;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  margin-left: 30px;
  flex-direction: row;
  transition: 0.2s;
  display: inline;
  letter-spacing: 0.1rem;

}

.button-arthome:hover{
  background-color: #F5EA5A;
  color: black;
  border-radius: 10px;
  padding: 10px 16px 10px 36px;
  text-decoration: none;
  display: inline;
  letter-spacing: 0.1rem;

}
