.button-outline{
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  // margin-right: 30px;
  display: inline;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  margin-right: 5px;
}

.button-outline:hover{
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  border: 3px;
  border-color: #DB2454;
  color: white;
  border-style: solid;
  border-radius: 10px;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  display: inline;
  letter-spacing: 0.1rem;
}

.button-main{
  background-color: #DB2454;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border: 2px solid $burgundy;
  border-radius: 10px;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  flex-direction: row;
  display: inline;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  margin-left: 5px;
}

.button-main:hover{
  background-color: $orange;
  font-family: 'Quicksand', sans-serif;
  color: black;
  border-radius: 10px;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  display: inline;
  letter-spacing: 0.1rem;
}

.button-more-event{
  background-color: #DB2454;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  display: inline;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  margin-left: 5px;
}

.homepage-buttons {
  margin-top: 10vw;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}


.button-event {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  color: black;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  transition: 0.2s;
  letter-spacing: 0.1rem;

}

.button-event:hover {
  background-color: #DB2454;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  letter-spacing: 0.1rem;

}

.btn-registration {
  background-color: #DB2454;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 4px;
  transition: 0.2s;
  letter-spacing: 0.1rem;

}

.btn-registration:hover {
  background-color: $orange;
  font-family: 'Quicksand', sans-serif;
  color: black;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 4px;
  letter-spacing: 0.1rem;

}

.btn-login-form {
  background-color: $orange;
  font-family: 'Quicksand', sans-serif;
  color: black;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 4px;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

.btn-login-form:hover {
  background-color: #DB2454;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 4px;
  letter-spacing: 0.1rem;

}

.button-evhome {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  margin-right: 30px;
  display: inline;
  transition: 0.2s;
  letter-spacing: 0.1rem;

}

.button-evhome:hover {
  background-color: $orange;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  margin-right: 30px;
  display: inline;
  letter-spacing: 0.1rem;

}


.button-arthome{
  background-color: #DB2454;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  margin-left: 30px;
  flex-direction: row;
  transition: 0.2s;
  display: inline;
  letter-spacing: 0.1rem;

}

.button-arthome:hover{
  background-color: $orange;
  font-family: 'Quicksand', sans-serif;
  color: black;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  display: inline;
  letter-spacing: 0.1rem;
}

.login-sign {
  background-color: #DB2454;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 2px;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  margin-right: 100px;

}

.login-sign:hover {
  background-color: $orange;
  font-family: 'Quicksand', sans-serif;
  color: black;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  flex-direction: row;
  margin-top: 2px;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  margin-right: 100px;

}

.forgot-password {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-decoration: none;
  display: inline;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

.button-confirmation {
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  color: $burgundy;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px 0;
  text-decoration: none;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  width: 48%;
}

.button-home-confirmation {
  background-color: $burgundy;
  font-family: 'Quicksand', sans-serif;
  color: $white;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px 0;
  text-decoration: none;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  width: 48%;
}

.book-now-button {
  background-color: $burgundy;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  color: white;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 9px 12px 9px 12px;
  text-decoration: none;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-left: 70px;

}

.back-button {
  background-color: $white;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  color: $teal;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 9px 12px 9px 12px;
  text-decoration: none;
  transition: 0.2s;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-right: 50px;
}

.buttons-booking-page {
  margin-top: 10px;
}
