// #styling for container-main
.container-main-ash{
  background-color: $white;
  width: 1000px;
  margin: auto;
}
.container-main{
  width: 1000px;
  margin: 0 auto;
  background-color : white;
  box-shadow:2px 2px 3px rbga(0,0,0,.1);
  background-size : cover;
  background-position :center;
  }
