.nav-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --clr: white;
}

.nav-container {
  display: block;
  position: fixed;
  bottom: 0;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.navigation {
  width: 100%;
  height: 70px;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.navigation ul {
  display: flex;
  width: 100%;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: rgba(128, 128, 128, 0.5);
}

.navigation ul li.active a .icon {
  color: var(--clr);
  text-shadow: 0 0 10px var(--clr), 0 0 20px var(--clr), 0 0 30px var(--clr);
}

.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  display: none;
}

.dropdown-menu {
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  inset: auto 0px 0px auto;
  margin: 0px;
  transform: translate3d(0px, -77px, 0px) !important;
}

.dropdown-item {
  color: var(--clr);
  font-weight: 500;
  font-size: 0.9em;
  padding: 0.5rem 1.5rem;
  transition: 0.5s;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu:before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 78%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(128, 128, 128, 0.5) transparent;
}
