body {
  margin: 0 auto;
}

.banner-event {
  background-color: $yellow;
  background-position: cover;
  height: 150px;
  max-width: 100%;

}

.banner-event h1 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 65px 0;
}



  /* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
